<div class="container">
    <div class="row header justify-content-center mb-5 pb-5">
        <h1 class="text-center my-5 text-white">Каталог футболистов 3.0 <i class="fa-regular fa-futbol"></i></h1>
        <div class="row justify-content-center">
            <div class="col-2">
                <button type="button" class="btn btn-info" routerLink="/">Список футболистов</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-info" routerLink="/create">Добавить футболиста</button>
            </div>
        </div>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>